<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>

<button class="btn">asasdasdasd</button>
<button class="btn">asdasda</button>

<a href="tel:+79173075522">+794654546465465</a>
<a href="tel:+654654654564">+5646465456456</a>
<a href="tel:+234234234">+234234</a>


<a href="mailto:qweee@asd.com">qweee@asd.com</a>
<a href="mailto:qweee@asd.comasdasd">qweee@asd.comasd</a>

</body>
</html>